.header {
  background: #0b5cff;
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
}

.header nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.btn {
  background: white;
  color: #0b5cff !important;
  padding: 6px 12px;
  border-radius: 5px;
}

.footer {
  background: #0b5cff;
  color: white;
  text-align: center;
  padding: 20px;
}

.logout-btn {
  background-color: #0b5cff;
  color: rgb(230, 230, 236);
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.logout-btn:hover {
  background-color: #0b5cff;
}
