.all-users-page {
  background-color: #30373f;
  height: 100vh;
  width: 100%;
  padding: 15vh 3vw 3vh 3vw;
}

.all-users-page h3 {
  color: aliceblue;
}

.user-cards {
  margin-top: 4vh;
  height: 70vh;
  width: 70vw;
  padding: 2vh 1vw;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.user-card {
  color: aliceblue;
  display: flex;
  gap: 40px;
  background-color: #181818;
  padding: 3vh 2vw;
  width: 65vw;
  border-radius: 0.8rem;
}

.user-card span {
}

.user-card span h5 {
  font-weight: 400;
  color: rgb(231, 234, 238);
}

.user-card span p {
  color: rgba(231, 234, 238, 0.831);
  margin: 0;
}
.user-card {
  padding: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.user-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.all-users-carousel .carousel-inner {
  display: flex;
  justify-content: center;
}

.all-users-carousel .carousel-item {
  display: flex;
  justify-content: center;
}
